@(boards: List[is.ru.honn.rupin.domain.Board])
@title = {
All your boards
}
@main(title, nav = "Board Page") {
    @for((b,i) <- boards.zipWithIndex) {
        <div class="board @if(i%2==0){left}else{right}">
            <h2>@b.getName()</h2>
            <h3>@b.getCategory()</h3>
            @displayPins(b.getPins())
            <a class="AddPin" href="@routes.BoardController.addPin(b.getId())">Add Pin</a>
        </div>
    }
}

@displayPins(pins: List[is.ru.honn.rupin.domain.Pin]) = {
    @for((p,i) <- pins.zipWithIndex) {
        <div class="pin @if(i%2==0){left}else{right}">
            <img src="@p.getImage()" alt="pin Image"/>
            <p>@p.getDescription()</p>
            <a href="@p.getLink()">link</a>
            <span id="created">posted: @p.getCreated()</span>
        </div>
    }
}