@(boards: List[is.ru.honn.rupin.domain.Board])
@title = {
All boards
}
@main(title, nav = "Board Page") {
    @boards.map { b =>
        <div class="board">
            <h2>@b.getName()</h2>
            <h3>@b.getCategory()</h3>
            @displayPins(b.getPins())
            <a class="AddPin" href="@routes.BoardController.addPin(b.getId())">Add Pin</a>
        </div>
    }
}

@displayPins(pins: List[is.ru.honn.rupin.domain.Pin]) = {
    @for(pin <- pins) {
        <div class="pin">
            <img src="@pin.getImage()" alt="pin Image"/>
            <p>@pin.getDescription()</p>
            <a href="@pin.getLink()">link</a>
        </div>
    }
}