@(board: is.ru.honn.rupin.domain.Board)
@title = {
@board.getName()
}
@main(title, nav = "Board Page") {
    <div id="board">
        <h3>Owner: @board.getCreator().getName()</h3>
        <h2>@board.getCategory()</h2>
        <a class="AddPin" href="@routes.BoardController.addPin(board.getId())">Add Pin</a>
        @displayPins(board.getPins())
        <a class="AddPin" href="@routes.BoardController.addPin(board.getId())">Add Pin</a>
    </div>
}


@displayPins(pins: List[is.ru.honn.rupin.domain.Pin]) = {
    @for((p,i) <- pins.zipWithIndex) {
        <div class="pin @if(i%2==0){left}else{right}">
            <img src="@p.getImage()" alt="pin Image"/>
            <p>@p.getDescription()</p>
            <a href="@p.getLink()">link</a>
            <span>posted: @p.getCreated()</span>
        </div>
    }
}