.topbar a {
    float: left;
    padding: 1%;
}
.topbar h4 {
    float: right;
}

#board .pin img {
    float: right;
    max-width: 120px;
    margin-right: 5px;
    max-height: 120px;
}

#board .pin {
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
    margin-bottom: 2%;
    width: 100%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

#board {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#board h2 {
    float: left;
}

#board h3 {
    float: right;
    clear: right;
}


#board .AddPin {
    float: right;
    clear: left;
}
.pin.left {
    float: left;
    clear: left;
}
.pin.right {
    float: right;
    clear:right;
}

.pin {
    border-bottom: 1px solid gray;
    padding-bottom: 4px;
    margin-bottom: 2%;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
}

.pin img {
    float: right;
    width: 60px;s
    margin-right: 5px;
    margin-left: 10px;
}

.pin p {
    margin-left: 8px;
}

.pin a {
    float: left;
    clear: left;
    margin-left: 8px;
}

.pin span {
    float: right;
    clear: right;
}


.board {
    width: 45%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.board.left {
    float: left;
    clear: left;
}
.board.right {
    float: right;
    clear:right;
}

.board .pin {
    float: left;
    clear: right;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
}

.board h2 {
    float: left;
    clear: right;
}

.board h3 {
    float: right;
}

.board .AddPin {
    float: right;
}

.span14 {
    width: 90%;
}
#created{
    font-size: 9px;
}