<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="PinService" class="is.ru.honn.rupin.service.PinServiceStub"></bean>-->

    <bean id="PinService" class="is.ru.honn.rupin.service.PinServiceData">
        <property name="userDataMapper" ref="userDataMapper"/>
        <property name="pinDataMapper" ref="pinDataMapper"/>
        <property name="boardDataGateway" ref="boardDataMapper"/>
    </bean>

    <bean id="userDataMapper" class="is.ru.honn.rupin.data.UserData">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="boardDataMapper" class="is.ru.honn.rupin.data.BoardData">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="pinDataMapper" class="is.ru.honn.rupin.data.PinData">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>net.sourceforge.jtds.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:jtds:sqlserver://hrnem.ru.is:1433</value>
        </property>
        <property name="username">
            <value>hshgudnyg11</value>
        </property>
        <property name="password">
            <value>ji6wb5</value>
        </property>
    </bean>
</beans>

