@(Pins: List[is.ru.honn.rupin.domain.Pin])
@import is.ru.honn.rupin.domain._

@title = {
Front Page
}

@main(title, nav = "Front Page") {
    @for((p,i) <- Pins.zipWithIndex) {
    <div class="pin @if(i%2==0){left}else{right}">
        <img src="@p.getImage()" class="img-polaroid" alt="pin Image"/>
        <p>@p.getDescription()</p>
        <a class="link" href="@p.getLink()">Pin Link</a>
        <a class="board" href="@routes.BoardController.board(p.getBoard().getId())">Board name: @p.getBoard().getName()</a>
        <span class="hidden pinID">@p.getId()</span>
        <span class="like btn btn-small btn-primary">
            @if(p.getLikes().contains(ServiceController.getSessionUser())){UnLike}else{Like}
        </span>
        <span class='likeText'>@p.getLikes().size() people like this</span>
        <span class="created">posted: @p.getCreated()</span>
    </div>
    }
}
