@(Pins: List[is.ru.honn.rupin.domain.Pin])
@import is.ru.honn.rupin.domain._
@title = {
Front Page
}

@main(title, nav = "Front Page") {
<script src="@routes.Assets.at("javascripts/frontpage.js")" type="text/javascript"></script>
    @for((p,i) <- Pins.zipWithIndex) {
    <div class="@if(i%2==0){pin left}else{pin right}">
        <img src="@p.getImage()" alt="pin Image"/>
        <p>@p.getDescription()</p>
        <a class="link" href="@p.getLink()"> Pin Link</a>
        <a class="board" href="@routes.BoardController.board(p.getBoard().getId())">Board name: @p.getBoard().getName()</a>
        <span id="created">posted: @p.getCreated()</span>
    </div>
    }
}
