@(loginForm: Form[is.ru.honn.rupin.domain.UserAuthentication])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Login
}

@main(title, nav = "login") {
    @if(loginForm.hasErrors) { <p>Login failed!</p> }
    @helper.form(action = routes.UserController.loginSubmit) {
        @if(ServiceController.getSessionUser() == null){
            <fieldset>
                <legend>Login</legend>
              @inputText(
                  loginForm("username"),
                  '_label -> "Username"
              )
              @inputPassword(
                    loginForm("password"),
                    '_label -> "Password"
              )
            </fieldset>
        }

        <div class="actions">
            <input type="submit" class="btn primary" value="Login">
            <a href="@routes.UserController.index" class="btn">Cancel</a>
        </div>
    }
}