@(title: Html, nav: String = "")(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>RuPin</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.UserController.index()">RuPin</a>
                    <a href="@routes.UserController.signUp()">Sign Up</a>
                    <a href="@routes.UserController.login()">
                    @if(ServiceController.getSessionUser() != null){
                        LogOut
                    } else {
                        LogIn
                    }
                    </a>

                    @if(ServiceController.getSessionUser() != null){
                        <a href="@routes.BoardController.myBoards()">Boards</a>
                        <h4>Welcome @ServiceController.getSessionUser().getName()</h3>
                    }
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    RuPin
                </p>
            </footer>

        </div>
        
    </body>
</html>
