@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>RuPin</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">RuPin</a>&nbsp;
                           <a href="@routes.SignUp.blank">Sign up</a>&nbsp;
                           <a href="@routes.Session.loginForm">Login</a>&nbsp;
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    RuPin
                </p>
            </footer>

        </div>
        
    </body>
</html>
